input[type=password], input[type=text], textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

button[type=submit] {
  background-color: #ff877f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #5053f0;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}
.title {
  color: #ff877f;
  font-size: 4rem;
  font-weight: 700;
}
.text {
  color: #ffffff; 
}
.text-blue {
 color: #5053f0; 
}
